<div class="container">
    <h2> Buyer Registration</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="registrationFormSubmit()">

            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="userName">
            <!-- [class.is-invalid]="userName.invalid && userName.touched" />
            <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">
                    Required Field
            </small> -->

            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="username" formControlName="email">
            <!-- [class.is-invalid]="userEmail.invalid && userEmail.touched" />
            <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">
                    Required Field
            </small> -->

            <label for="phone">Contact Number:</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone Number" formControlName="phone">
            <!-- [class.is-invalid]="userEmail.invalid && userEmail.touched" />
            <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">
                    Required Field
            </small> -->

            <label for="address">Address:</label>
                <div class="form-group" formGroupName="address">
                    <input type="text" class="form-control" placeholder="House No." formControlName="houseNumber">
                    <input type="text" class="form-control" placeholder="Address Line 1" formControlName="address1">
                    <input type="text" class="form-control" placeholder="Address Line 2" formControlName="address2">
                    <input type="text" class="form-control" placeholder="City" formControlName="city">
                    <input type="text" class="form-control" placeholder="State" formControlName="state">
                    <input type="text" class="form-control" placeholder="Pincode" formControlName="pincode">
                    <!-- [class.is-invalid]="userEmail.invalid && userEmail.touched" />
                    <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">
                            Required Field
                    </small> -->
                </div>

            <label for="address">Password:</label>
            <input type="password" class="form-control" id="add" placeholder="Password" formControlName="password">
            <!-- [class.is-invalid]="userEmail.invalid && userEmail.touched" />
            <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">
                    Required Field
            </small> -->
        
        <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Register</button>
    </form>
   
</div>
