<br>
<div class="container" align="center">
    <h1 align="center">Employees List</h1>
        <br>
        <table class="table" border="1">
            <thead class="thead-dark" align="center">
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr *ngFor="let e of empList">
                    <td>{{e.personId}}</td>
                    <td>{{e.personName}}</td>
                </tr>
            </tbody>
        </table>
</div>
